/*set defaults*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #e5e5e5;
    font-family: bodoni;
}

p ul li{
    font-family: futura;
}

.contentBox {
    height: 80vh;
    width: 70vw;
    background-color: #ffffff;
    margin: 0 auto;
    -moz-box-shadow:    0px 2px 8px 6px #bbb;
    -webkit-box-shadow: 0px 2px 8px 6px #bbb;
    box-shadow:         0px 2px 8px 6px #bbb;
    position: relative;
}

.form{
    margin: 70 auto;
    width: 100%;
}

.searchTerm {
    width: 200px;
    display: inline-block;
}

.resultsPerPage {
    width: 100px;
    display: inline-block;
}

.navbar{
    margin: 0 auto;
}

.results {
    height: 70%;
    width: 100%;
    background-color: #eeeeee;
    z-index: 1;
    margin: 0 auto;
    overflow: scroll;
}

.contentHeader{
    text-align: center;
}

.headerFooter{
    width: 60vw;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .contentBox {
    height: 100vh;
    width: 95vw;
    }

    .results {
    height: 62%;
    width: 100%;
    }
    .headerFooter{
    width: 80vw;
    margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .contentBox {
    height: 100vh;
    width: 95vw;
    }

    .results {
    height: 62%;
    width: 100%;
    }

    .headerFooter{
    width: 100vw;
    margin: 0 auto;
    }
}